<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Server upload/download</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <a href="/upload">upload</a>
        <a href="/filemanager">filemanager</a>
        <a href="/info/0">info</a>
    </header>
    {{{body}}}
</body>

</html>