<div id="left">
    <div id="napis">filemanager</div>
    <a href="/dall">usuń dane o plikach z tablicy</a>
</div>
<div id="right">
    <div class="wiersz">
        <div class="klocek" style="left: 15px;">id</div>
        <div class="klocek" style="left: 165px;">obraz</div>
        <div class="klocek" style="left: 295px;">name</div>
        <div class="klocek" style="left: 465px;">size</div>
        <div class="klocek" style="left: 615px;">type</div>
        <div class="klocek" style="left: 765px;">-</div>
        <div class="klocek" style="left: 915px;">-</div>
        <div class="klocek" style="left: 1065px;">-</div>
    </div>
    {{#each files}}
    {{> jedenWiersz}}
    {{/each}}


</div>