<div id="left">
    <div id="napis">multiupload</div>
</div>
<div id="right">
    <form action="/handleUpload" method="POST" enctype="multipart/form-data">
        <input type="file" id="files" required accept="/" name="imagetoupload" multiple>
        <input type="submit" value="wyślij!">
    </form>
</div>