
body {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    min-width: 450px;
}
header {
    width: 98%;
    min-height: 25px;
    max-height: 3vh;
    background-color: green;
    padding: 1%;
}
header a {
    font-size: 1.5em;
    font-size-adjust: initial;
    margin-left: 10px;
    margin-top: 1vw;
    color: white;
}
#left {
    background-color: rgb(198, 243, 198);
    display: inline;
    float:left;
    width:15vw;
    min-width: 200px;
    height:97vh;
    text-align: center;
}
a {
    color:red;
}
.klocek3{
    font-size: 2rem;
    height:50px;
    margin-top:10px;
    color: green;
    overflow-y: hidden;
    font-weight: bold;
    white-space: nowrap;
    margin-left: 20px;
} 
.klocek3 .klocek3{
    color: black;
    font-weight: normal;
    font-size: 1rem;
    max-width: 85vw;
    height:50px;
    overflow: auto;
    display: inline;
}
#right {
    max-height: 93vh;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 50vh;
}
#left #napis {
    margin: 10px auto 30px;
    display: block;
    max-width: fit-content;
    color: rgb(156, 156, 138);
    font-size: 2em;
    font-weight: bold;
}
.wiersz{
    margin-top:10px;
    position: relative;
    min-width:  fit-content;
    min-height: 40px;
}
.klocek, .klocek2 {
    position: absolute;
    width: 120px;
    clear: both;
    top: 0px;
    height: 40px;
    font-size: 1.3em;
    color: darkgreen;
}
.klocek2 {
    color: black;
    margin-top: -10px;;
    font-size: 1em;
    overflow-wrap: break-word;
    overflow-y: auto;
}
.klocek2 img {
    top:-5px;
}
form {
    position: relative;
    top: 5px;
    clear: both;
    left: 15px;
    white-space: nowrap;
    font-size:2em;
}
form input[type=file]{
    max-width: 40vw;
    overflow: hidden;
}
form input[type=file]::-webkit-file-upload-button{
    background-color: rgb(231, 252, 199);
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 1px;
}
form input[type=file]::-webkit-file-upload-button:hover {
    background-color: rgb(251, 255, 246);
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 1px;
}
form input[type=file]::file-selector-button{
    background-color: rgb(231, 252, 199);
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 1px;
}
form input[type=file]::file-selector-button:hover {
    background-color: rgb(251, 255, 246);
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px 1px;
}
form input[type=submit]{
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(231, 252, 199);
    padding: 2px 1px;
}
form input[type=submit]:hover{
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(251, 255, 246);
    padding: 2px 1px;
}